h1 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 15px;
  color:  #5bc0de;
  font-family: fantasy;
}

.questionLabel {
  margin-bottom: 5px;
  margin-top: 20px;
}
.radio {
  margin-left: 10px;
}
.btn {
  margin-top: 10px;
}
strong {
  color: #5bc0de;
}
img {
  max-width: 50%;
  margin-bottom: 10px;
}
.wrapper{
  margin-top: 2%;
  text-align: center;
}
.wrapper h1 {
  font-family: fantasy;
}
